{% extends "images/base.html" %}
{% block content %}
  <div class="content-section">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Delete Post</legend>
        <h2>Are You Sure you Want to delete the Image "{{ object.imageName }}"</h2>
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-danger" type="submit" name="button">Yes, Delete</button>
        <a class="btn btn-outline-secondary" href="{% url 'image-detail' object.pk %}">Cancel</a>
      </div>
    </form>
  </div>
{% endblock content %}